 {% extends 'farmer/farmer_base.html' %}
{% load static %}
{% block content %}

	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
<!--						<p>Get 24/7 Support</p>-->
						<h1>View Auction Amount </h1>
					</div>
				</div>
			</div>
		</div>
	</div>

        <div class="container">
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <nav aria-label="breadcrumb">-->
<!--                        <ol class="breadcrumb">-->
<!--                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>-->
<!--                            <li class="breadcrumb-item active" aria-current="page">Payment</li>-->
<!--                        </ol>-->
<!--                    </nav>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
<div>
  <form action="" method="post">
            {% csrf_token %}
          <input width="500px" height="100px" autocomplete="off" type="text" placeholder="Search by name Product" name="search">
          <button type="submit">Search</button>
        </form>
</div>
<br>
 <table class="table table-bordered table-striped table-hover" style="background-color: #002633;margin-top:50px">
<th></th>
                                 <th class="success" style="color: white;">Customer Name</th>
                                      <th class="success" style="color: white;">Customer Phone number </th>

                                 <th class="success" style="color: white;">Product Name</th>

                                 <th class="success" style="color: white;">Actual Price</th>
                                       <th class="success" style="color: white;">Auction Price</th>
                                  <th class="success" style="color: white;">confirm</th>
     <th></th>

     {% for i in view_pp  %}

                                <tr style="background-color:white;width: 700px;">
                                       <td></td>

                                    <td>{{ i.customer.user.first_name }}</td>
                                                                            <td>{{ i.customer.phonenumber}}</td>

                                    <td>{{ i.product.name }}</td>


                                      <td>{{ i.product.price }}</td>

                                    <td>{{ i.price }}</td>


 <form action="#" method="post">
        {% csrf_token %}

    <td><textarea name="action" placeholder="reply" > </textarea>
        <input type="hidden" name="id2" value="{{ i.product_id }}">
        <input type="hidden" name="id" value="{{ i.id }}">
        <button type="submit" class=" btn btn-success">Send</button></td></form>                                      <td>{{ i.payment }}</td>


                                </tr>


              {% endfor %}



                            </table>

      <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>

  {% endblock %}