 {% extends 'base.html' %}
{% load static %}
{% block content %}
        {% if message %}
<script>
alert("{{ message }}")
</script>
    {% endif %}
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">

						<h1>Login </h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- contact form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="form-title">
						<h2>Login </h2>
					</div>
				 	<div id="form_status"></div>
					<div class="contact-form">
						<form action="" method="post">
							{% csrf_token %}
							<div class="row">
                                <div class="col-6 ">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="contact-name" name="email" placeholder="Enter Your Username" >
                                    </div>
                                </div>
							</div>
							<div class="row">

                                <div class="col-6 ">
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password" id="contact-email" placeholder="Enter Your Password">
                                    </div>
                                </div>
							</div>

                                <div class="col-12">
                                    <p><input type="submit" value="Submit"></p> <a href="User_Registration">Register your account?</a>

                                  </div>
                            </div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
	

	<!-- footer -->
{% endblock %}